@model ECommerceShop.BL.ViewModels.OrderVM
@inject ECommerceShop.BL.Interfaces.ICustomerRepo customerRepo
@inject ECommerceShop.BL.Interfaces.IProductRepo productRepo
@{
    ViewData["Title"] = "Create Order";
}

<form asp-area="Dashboard" asp-controller="Order" asp-action="Create">
    @*<input type="hidden" asp-for="Id" />*@
    <div class="form-group row">
        <label class="col-sm-12 col-form-label" asp-for="Customer">Customer</label>
        <div class="col-sm-12 col-md-10">
            <select class="form-control" asp-for="CustomerId">
                <option value="default">Choose Customer</option>
                @foreach (var item in customerRepo.ReadAll())
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-12 col-form-label" asp-for="ProductId">Product</label>
        <div class="col-sm-12 col-md-10">
            <select asp-for="ProductId" class="form-control custom-select2 select2-hidden-accessible" multiple="" style="width:100%;" data-select2-id="4" tabindex="-1" aria-hidden="true">
                @foreach (var item in productRepo.ReadAll())
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <a class="btn btn-danger" asp-area="Dashboard" asp-controller="Order" asp-action="Index">Cancel</a>
    <button class="btn btn-success" type="submit">Add Order</button>
</form>

